extends ../layouts/common.pug
block content
	h1 Products	
	each product in products
		a(href='#')
			img(src=''+product.image)
			p= ''+product.name
		p= ''+product.description
			
	nav(aria-label='Page navigation example')
		ul.pagination
			li.page-item
				a.page-link(href='#') Previous
			li.page-item
				a.page-link(href='?page=1') 1
			li.page-item
				a.page-link(href='?page=2') 2
			li.page-item
				a.page-link(href='?page=3') 3
			li.page-item
				a.page-link(href='#') Next